In [1]:
import pandas as pd

In [2]:
#IMPORTING CITIES CSV TO CREATE AN HTML FILE
data = "resources/cities.csv"
weather_df = pd.read_csv(data, encoding="ISO-8859-1")
weather_df.head(5)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [3]:
# Export the city data into a HTML
# Output File to assets folder (HTML)
output_data_file = "assets/city_weather_export.html"
weather_df.to_html(output_data_file, index=False, header=True, justify='left')

In [4]:
#Creating and exporting Max Temp data Only
maxTemp_df= weather_df.drop(["Humidity","Wind Speed","Cloudiness"], axis=1)
maxTemp_df.head()
output_maxtemp_file = "assets/city_maxtemp_export.html"
maxTemp_df.to_html(output_maxtemp_file, index=False, header=True, justify='left')

In [5]:
#Creating and exporting Humidity data Only
humidity_df= weather_df.drop(["Max Temp","Wind Speed","Cloudiness"], axis=1)
humidity_df.head()
output_humidity_file = "assets/city_humidity_export.html"
humidity_df.to_html(output_humidity_file, index=False, header=True, justify='left')

In [6]:
#Creating and exporting Cloudiness data Only
cloudiness_df= weather_df.drop(["Max Temp","Wind Speed","Humidity"], axis=1)
cloudiness_df.head()
output_cloudiness_file = "assets/city_cloudiness_export.html"
cloudiness_df.to_html(output_cloudiness_file, index=False, header=True, justify='left')

In [7]:
#Creating and exporting Wind Speed data Only
windspeed_df= weather_df.drop(["Max Temp","Cloudiness","Humidity"], axis=1)
windspeed_df.head()
output_windspeed_file = "assets/city_windspeed_export.html"
windspeed_df.to_html(output_windspeed_file, index=False, header=True, justify='left')